/* .nom, .hor, .det{
    float: left;
    border: seagreen solid;
    display: table-column;
} */
.nom, .hor, .det {
    float: left;
    width: calc(100%/4);
    padding: 15px 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    
    display: table-cell;
    background: tan;
  }