<div class="container">
  <div class="row">
    <a href="#"><div class="col-md-1 col-sm-3 col-xs-5"><img class="img-responsive" src="../../img/tour-2.jpg" /></div></a>
    <a href="#"><div class="col-md-1 col-sm-3 col-xs-5"><img class="img-responsive" src="../../img/tour-3.jpg" /></div></a>
    <a href="#"><div class="col-md-1 col-sm-3 col-xs-5"><img class="img-responsive" src="../../img/tour-4.jpg" /></div></a>
    <a href="#"><div class="col-md-1 col-sm-3 col-xs-5"><img class="img-responsive" src="../../img/tour-5.jpg" /></div></a>
    <a href="#"><div class="col-md-1 col-sm-3 col-xs-5"><img class="img-responsive" src="../../img/tour-6.jpg" /></div></a>
    <a href="#"><div class="col-md-1 col-sm-3 col-xs-5"><img class="img-responsive" src="../../img/tour-1.jpg" /></div></a>
    <!-- </div>
    <div class="row">
           
    <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../../img/tour-7.jpg" /></div></a>
    <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../../img/tour-8.jpg" /></div></a>
    <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="../../img/tour-9.jpg" /></div></a>
  </div> -->
</div>
